<footer>
    <div class="container-fluid">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-10">
            <hr class="border border-danger border-1 opacity-50">
            <div class="row">
                <div class="col-6">
                    <b>New Jersey Institute of Technology</b>
                    <br>
                    University Heights Newark, New Jersey 07102
                </div>
                <div class="col-6">
                    <b><p class="text-end">Contact Us | Map & Directions | A to Z</p></b>
                    <ul class="list-group list-group-horizontal">
                        <ol><a href="https://facebook.com"><i class="bi bi-facebook" style="color: blue;"></i></a></ol>
                        <ol><a href="https://twitter.com"><i class="bi bi-twitter" style="color: cyan;"></i></a></ol>
                        <ol><a href="https://youtube.com"><i class="bi bi-youtube" style="color: red;"></i></a></ol>
                        <ol><a href="https://instagram.com"><i class="bi bi-instagram" style="color: brown;"></i></a></ol>
                    </ul>
                </div>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
    </div>
</footer>