<div class="container-fluid">
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <div class="row">
      <div class="col"></div>
      <div class="col d-flex justify-content-center loginCard" >
          <div class="card" >
              <div class="card-header text-center">
                <h1>Login</h1>
              </div>
              <div class="card-body">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="email" class="form-control" id="username" aria-describedby="emailHelp" formControlName="userId">
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                      </div>
                      <button type="submit" class="btn btn-primary" style="text-align: center; display: inline-block;">Login</button>
                  </form>
              </div>
            </div>

      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-center" >
          <br>
          <h5>Test Accounts</h5>
          <ul style="list-style: none; text-align: left;  display: inline-block;">
              <li><b>Username</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>Password</b></li>
              <li>dzhen123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;devon123</li>
              <li>jzhen123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jimmy123</li>
              <li>jackz123&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jack123</li>
          </ul>
        
      </div>
      <div class="col-sm-4"></div>
  </div>
</div>